#AnchorPane {
    -fx-background: rgb(255,250,205);
}

.text-field{
    -fx-background-color: rgb(238, 221, 130);
    -fx-text-fill: rgb(0,0,255);
    -fx-text-size: 20pt;
}

.button{
    -fx-background-color: rgb(49, 50, 23);
    -fx-text-fill: rgb(255, 255, 0);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

#firstGamerPoint, #secondGamerPoint, #firstGamerName, #secondGamerName {
    -fx-font-size: 30pt;
    -fx-text-fill: rgb(178,34,34);
    -fx-opacity: 0.6;
}

#ok {
    -fx-background-color: rgb(0,255,0);
    -fx-text-fill: rgb(255,0,0);
}

#torles {
    -fx-background-color: rgb(255,0,0);
    -fx-text-fill: rgb(0,255,0);
}

